<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>person</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>person.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserServlet</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>person.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/CheckUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePlanFinishFlagServlet</display-name>
    <servlet-name>UpdatePlanFinishFlagServlet</servlet-name>
    <servlet-class>person.UpdatePlanFinishFlagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePlanFinishFlagServlet</servlet-name>
    <url-pattern>/UpdatePlanFinishFlagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePlanServlet</display-name>
    <servlet-name>UpdatePlanServlet</servlet-name>
    <servlet-class>person.UpdatePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePlanServlet</servlet-name>
    <url-pattern>/UpdatePlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPlanServlet</display-name>
    <servlet-name>InsertPlanServlet</servlet-name>
    <servlet-class>person.InsertPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPlanServlet</servlet-name>
    <url-pattern>/InsertPlanServlet</url-pattern>
  </servlet-mapping>
</web-app>