<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>testweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>testweb.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloWord</display-name>
    <servlet-name>HelloWord</servlet-name>
    <servlet-class>testweb.HelloWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWord</servlet-name>
    <url-pattern>/HelloWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login_test01Servlet</display-name>
    <servlet-name>login_test01Servlet</servlet-name>
    <servlet-class>testweb.login_test01Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_test01Servlet</servlet-name>
    <url-pattern>/login_test01Servlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>stream</servlet-name>
    <servlet-class>testweb.PseudostreamingServlet</servlet-class>
    <init-param>
      <param-name>videoPath</param-name>
      <param-value>C:/Users/Administrator/Desktop</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>stream</servlet-name>
    <url-pattern>/stream</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>